body{
  margin: 0 auto;
  width: 80%;
}

.templates {
  display: none;
}

.big-button {
  font-size: 100px;
  width: 35%;
}

.padding-bottom {
  padding-bottom: 20px;
}

.rounded-border {
  border-radius: 4px;
  border: 2px solid;
  padding: 2px;
}

.sm-padding-bottom {
  padding-bottom: 8px;
}

.player-view {
  font-size: 20px;
}

.list-group-item {
  border: 2px solid !important;
  width: 95% !important;
}

.badge {
  width:100px; /* you can use % */
  height: auto;
}

.jumbotron {
  border: 5px solid !important;
}

html { 
background: url(../img/background.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
